*{
    margin: 0px;
}
a{
    color: white;
}
a:hover{
    color: rgb(8, 8, 8);
}
body{
background-color: rgb(42, 42, 44); 
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;   
}
.logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   position: sticky;
   overflow: hidden;
  
   
}
.bdr-elm1{
    width:150px;
    height:150px;
    background-color: rgb(59, 56, 56);
  
}
.bdr-elm2{
    width:300px;
    height:300px;
   background: linear-gradient(rgb(0, 255, 255),transparent);
    position: absolute;
    animation-name:jiten1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: right;
    right:75px;
}
@keyframes jiten1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.logo img{
    height:140px;
    width:140px;
    position:absolute ;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Montserrat', sans-serif;
    width:80px;
    height: 20px;
    background-color: rgb(26, 25, 25);
    margin-top: 30px;
    color:rgb(182, 39, 39);
    font-size: 10px;
    text-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid white;
  
}
.contact:hover{
    background-color: white;
    color: black;
}
.name{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Montserrat', sans-serif;
    width:700px;
    height: 80px;
    background-color: rgb(32, 30, 30);
    margin-top: 30px;
    color:white;
    font-size: 50px;
    text-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
    box-shadow:0px 0px 10px 2px rgb(232, 234, 235) ;
}
.profesion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Montserrat', sans-serif;
    width:700px;
    height: 80px;
    margin-top: 5px;
    color:white;
    font-size: 30px;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 5px rgb(255, 255, 255);
    animation-name:left-entry;
    animation-duration: 2s;
    
}
@keyframes left-entry{
    0%{
       
        font-size: 0px;
    }
    100%{
       
        font-size: 30px;
    }
}
.skills-logo{
    height:100px;
    width:100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Montserrat', sans-serif;
text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
  background: radial-gradient(black,transparent 70%);
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
     border: 2px solid white;
     padding-top: 20px;
     padding-bottom: 20px;
}
.skills div{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    background-color: rgb(26, 25, 25);
    padding:10px;
    border-radius: 10px;
}
table{
    border:2px solid white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
td{
    border:2px solid white;
}
